In [15]:
#### import libraries 
import joblib
import pandas as pd

In [16]:
####Loading the training model
file_name = 'RANDOM_FOREST_MODEL.SAV'
my_model = joblib.load(file_name)

In [17]:
#### Loading the test_data 
Test_data = pd.read_csv('Downloads/test.csv')
Test_data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered
0,2012-06-30 1:00:00,3,0,0,3,26.24,28.790,89.0,15.0013,3,55
1,2012-06-30 2:00:00,3,0,0,2,26.24,28.790,89.0,0.0000,7,54
2,2012-06-30 3:00:00,3,0,0,2,26.24,28.790,89.0,0.0000,3,20
3,2012-06-30 4:00:00,3,0,0,2,25.42,27.275,94.0,0.0000,3,15
4,2012-06-30 5:00:00,3,0,0,1,26.24,28.790,89.0,11.0014,3,7

In [18]:
#### Doing the data preprocessing for testing_data as same as previously did for the traing_data.
Test_data['datetime'] = pd.to_datetime(Test_data['datetime'])
Test_data['dayofweek'] = Test_data['datetime'].dt.dayofweek
Test_data['month'] = Test_data['datetime'].dt.month
Test_data['year'] = Test_data['datetime'].dt.year
Test_data['hour'] = Test_data['datetime'].dt.hour
Test_data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,dayofweek,month,year,hour
0,2012-06-30 01:00:00,3,0,0,3,26.24,28.790,89.0,15.0013,3,55,5,6,2012,1
1,2012-06-30 02:00:00,3,0,0,2,26.24,28.790,89.0,0.0000,7,54,5,6,2012,2
2,2012-06-30 03:00:00,3,0,0,2,26.24,28.790,89.0,0.0000,3,20,5,6,2012,3
3,2012-06-30 04:00:00,3,0,0,2,25.42,27.275,94.0,0.0000,3,15,5,6,2012,4
4,2012-06-30 05:00:00,3,0,0,1,26.24,28.790,89.0,11.0014,3,7,5,6,2012,5

In [19]:
#### droping the unnacessary features.
Test_data = Test_data.drop(['datetime', 'atemp'], axis=1)
Test_data.head()

,season,holiday,workingday,weather,temp,humidity,windspeed,casual,registered,dayofweek,month,year,hour
0,3,0,0,3,26.24,89.0,15.0013,3,55,5,6,2012,1
1,3,0,0,2,26.24,89.0,0.0000,7,54,5,6,2012,2
2,3,0,0,2,26.24,89.0,0.0000,3,20,5,6,2012,3
3,3,0,0,2,25.42,94.0,0.0000,3,15,5,6,2012,4
4,3,0,0,1,26.24,89.0,11.0014,3,7,5,6,2012,5

In [22]:
#### Now using the trained model and using the test_data for prediction.
#### printing the predictions
model_prediction = my_model.predict(Test_data)
print(model_prediction)

[57.96 60.7  23.02 ... 89.6  61.05 49.19]

In [23]:
#### Now predicted the  counts--('no of total rentals').
### Adding the prediction values as a predicted column to the test_data to compare the actual and predicted values.
Test_data['predicted'] = model_prediction

In [24]:
Test_data

,season,holiday,workingday,weather,temp,humidity,windspeed,casual,registered,dayofweek,month,year,hour,predicted
0,3,0,0,3,26.24,89.0,15.0013,3,55,5,6,2012,1,57.96
1,3,0,0,2,26.24,89.0,0.0000,7,54,5,6,2012,2,60.70
2,3,0,0,2,26.24,89.0,0.0000,3,20,5,6,2012,3,23.02
3,3,0,0,2,25.42,94.0,0.0000,3,15,5,6,2012,4,18.01
4,3,0,0,1,26.24,89.0,11.0014,3,7,5,6,2012,5,10.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4394,1,0,1,2,10.66,60.0,11.0014,11,108,0,12,2012,19,119.10
4395,1,0,1,2,10.66,60.0,11.0014,8,81,0,12,2012,20,89.05
4396,1,0,1,1,10.66,60.0,11.0014,7,83,0,12,2012,21,89.60
4397,1,0,1,1,10.66,56.0,8.9981,13,48,0,12,2012,22,61.05
4398,1,0,1,1,10.66,65.0,8.9981,12,37,0,12,2012,23,49.19

In [28]:
#### Converting the final_data into csv(using "to_csv") file by giving the path .
csv_file_path = 'downloads/final_data.csv'
final_data.to_csv(csv_file_path,index=False)
print(f'Data has been saved to {csv_file_path}')

Data has been saved to downloads/final_data.csv

In [29]:
#### About Data - 
###Bike sharing systems are a means of renting bicycles where the process of obtaining membership, 
####rental, and bike return is automated via a network of kiosk locations throughout a city. 
####Using these systems, people are able to rent a bike from one location and return it to different 
####place on an as-needed basis. Currently, there are over 500 bike-sharing programs around the world.

####The data generated by these systems makes them attractive for researchers because the duration of 
####travel, departure location, arrivallocation, and time elapsed is explicitly recorded. 
####Bike sharing systems therefore function as a sensor network, which can be used for studying mobility 
###in a city.


##### USED THE FOLLOWING DATA-SETS,AND PREDICTED COUNT OF TOTAL RENTALS FOR EACH HOUR FOR NEXT 6 MONTHS OF THE DATA. 
#####           1.Train.csv : Using  this dataset  trained the model. This file contains all the weather related 
######          features as well as the target variable “count”. Train dataset is comprised of first 
#####           18 months.

###            2. test.csv : Used the trained model to predict the count of total rentals for each hour during the 
###             next 6 months.
 
 #### USING THE RANDOM_FOREST_REGRESSOR CREATED THE MACHINE_LEARNING_MODEL 
##### THE PERFORMANCE OF THE MODEL IS EVALUATED BY THE 1.'' MEAN SQUARE ERROR',2.R_2 SCORE,3.'ROOT MEAN SQUARED LOG ERROR'
##### USING THE RANDOM_FOREST_REGRESSOR  THE MODEL HAS  PERFORMED. 1.MEAN SQUARE ERROR = (16.9846).
#####                                                              2.R_2 SCORE = (0.9993).
#####                                                              3.ROOT MEAN SQUARED LOG ERROR = (0.01119)